/* studentHeading file style css */

.StudentHeading{
   font-family: 'Poppins';
   font-style: normal;
   margin:100px 0px 50px 0px;
}

.StudentHeading h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
}

.StudentHeading h1 span{
    color: #1290CB;
}

.StudentHeading p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.StudentHeading p span{
    color: rgba(0, 23, 27, 0.7);
}


/* studentComment file style css */
.StudentComment{
    font-family: 'Poppins';
    font-style: normal;
}
.StudentComment :hover{
    box-shadow: 0.5px 0.5px 30px 0px rgb(206, 206, 244);
}

.StudentComment h4{
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #00171B;
}

.StudentComment p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 23, 27, 0.7);
}

.StudentComment button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1290CB;
    border: none;
}

@media screen and (max-width:991px){
    .StudentComment{
        text-align: center;
    }
}