/* TestiMonialsHeading file css */
.TestiMonialsHeading{
   font-family: 'Poppins';
   font-style: normal;
   margin:100px 0px 50px 0px;
}
.TestiMonialsHeading h1{
   font-weight: 700;
   font-size: 50px;
   line-height: 60px;
   text-align: center;
   color: #00171B;
}

.TestiMonialsHeading p{
   font-weight: 500;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   color: rgba(0, 23, 27, 0.7);
}


/* TestiMonialSlider file css */
.TestiMonialsSlider{
   font-family: 'Poppins';
   font-style: normal;
}
.TestiMonialsSlider h4{
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   color: #0C3232;
}

.TestiMonialsSlider .paragraph{
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: rgba(0, 23, 27, 0.7);
}

.TestiMonialsSlider .owl-theme img{
   width: 83.5px;
   height:auto;
}

.TestiMonialsSlider .owl-theme .item{
   box-shadow: 3px 3px 28px rgba(55, 55, 55, 0.08);
}

.TestiMonialsSlider .grid-item{
   display: flex;
}

.TestiMonialsSlider .owl-theme .text{
   position: relative;
   top:20px;
   left:15px;
}

.TestiMonialsSlider .star .icon{
   color:#FFB30F;
   font-size: 21.22px;
   margin:20px 0px 0px 5px;
}

.TestiMonialsSlider .owl-theme p{
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: rgba(12, 50, 50, 0.6);
}

.TestiMonialsSlider .owl-theme .item{
   border:1px solid rgb(196, 192, 192);
   box-shadow: 1px 1px 3px 0px rgb(197, 192, 192);
   padding:15px;
}