.TrustedSlider{
    margin:60px 0;
}

@media screen and (min-width:1000px){
    .TrustedSlider h3{
        float: left;
    }

    .TrustedSlider img{
        float: right;
    }
}

.TrustedSlider img{
    width: 135px;
    height: 45px;
    cursor: pointer;
    
}

.TrustedSlider h3{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 25px;
   text-align: center;
   color: #00171B;
}

.TrustedSlider .owl-theme{
    padding:0 80px;
}

